<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<i class="glyphicon glyphicon-thumbs-up"></i>

p{
    padding-left: 2em;
}

.userName{
    font-weight: bold;
}

i:hover-red{
    color: red;
}

i:hover-green {
    color: green;
}