.NavBar {
        margin: 2rem;
        padding-bottom: 2rem;
        border: none;  
        width: 100vw;
        font-weight:bold;  
        font-size: 2rem;   
}

.text-muted {
        color: gray;
}
