.form-group{
     padding-left: 1rem;
}

/* .btn {} */

/* .btn-primary{
    margin-top: 1em;

}  */

.form-control {
    display: block;
    width: 70%;
    height: 3rem;
}

.form-post{
    height: 6rem;
}

.form-grid{
    padding-left: 1rem;
}