.inactiveButton {
    background-color:blue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    border-radius: 50%;
}

.create{
    background-color: blue;
    color: white;
    text-weight: bold;
    border-radius: 5em;
    font-size: 2em;
}

.inactive{
    background-color: gray;
}

.activeThumbsUp{
    background-color: green;
}

.activeThumbsDown{
    background-color: red;
}

button:hover{
    background-color: purple;
    color: white;
}